[SEM4] XML/lab4/biblioteka.dtd

<!ENTITY % dane_ksiazki "tytul?, autor, opis">
<!ELEMENT biblioteka   (ksiazka+, dzial+)>

<!ELEMENT ksiazka (%dane_ksiazki;)>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT opis (#PCDATA)>
<!ATTLIST ksiazka id ID #REQUIRED>
<!ATTLIST ksiazka dzial IDREF #REQUIRED>
<!ATTLIST ksiazka oprawa (twarda|miekka) #REQUIRED>
<!ATTLIST ksiazka opcja CDATA #IMPLIED>
<!ELEMENT dzial (#PCDATA)>
<!ATTLIST dzial kod ID #REQUIRED>
